{% extends "base.html" %}
{% block style%}
    {% include "inc-style.html"%}
{% endblock style %}

{% block mainbody %}
    <h3>This is the main text area for the About page </h3>
    <br>Parameters were passed:
        <ul>
            {% for (k, v) in get_params.items() %}
                <li>{{ k }}: {{ v }}</li>
            {% endfor %}
        </ul>
    <br>
    <br>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    <br>Quod ut ipsa illo eveniet temporibus in nulla ducimus, 
    <br>impedit quam fugit aliquam sapiente dicta repudiandae 
    <br>corporis eligendi optio itaque consequatur laudantium?
{% endblock mainbody %}