<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head> 
    <title> {{ title }} </title>
    {% block style %}{% endblock style %}
    {% include "inc-menu.html" %}
    
</head>
    <body>
        {% block menu %}    {% endblock menu %}

        <header> <h1> {{ header }} </h1> </header>
        {% block mainbody %}    {% endblock mainbody %}
        
        <footer>
            <hr>
            <br>
            <h4> This is a footer. It is small but solid </h4>
            <br> Today is {{ date }}

        </footer>
    </body>
</html>