
{% extends "base.html" %}
{% block style%}
    {% include "inc-style.html"%}
{% endblock style %}

{% block mainbody %}
    <p>e-mail: info@guitars.com
        <br>phone: 123-456-789
        <br>address: Maincity, 2-nd street, 1 
    </p>
    <h4>Feedback</h4><br>

    <div class="container">
        <form action="" method="post">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" placeholder="Your name..">
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
          <input type="submit" value="Submit">
        </form>
    </div>

    <br>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    <br>Quod ut ipsa illo eveniet temporibus in nulla ducimus, 
    <br>impedit quam fugit aliquam sapiente dicta repudiandae 
    <br>corporis eligendi optio itaque consequatur laudantium?
    </p>
{% endblock mainbody %} 
